/* general */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Lato&family=Varela+Round&display=swap);

:root {
    --primary: #e76f51;
    --secondary: #2a9d8f;
    --light: #f8f9fa;
    --dark: #6c757d;
    --max-width:1100px;
    --white:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light);
}

a {
    text-decoration: none;
    color: var(--dark);
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Varela Round', sans-serif;
    margin: 0.7rem 0;
    line-height: 1.3;
}

p{
    margin:0.5rem 0;
}

/* Utils */

.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
}

.btn,.active{
    display: inline-block;
    border: none;
    background-color: var(--dark);
    color: var(--white);
    padding: 0.4rem 1.6rem;
    text-align: center;
    border-radius: 7px;
}

.btn:hover{
    opacity: 0.7;
}

.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.btn-primary,.active{background-color: var(--primary); color: var(--white);}
.active:hover{background-color: var(--light); color: var(--dark); opacity: 1!important;}
.btn-light{background-color: var(--light);}
.btn-dark{background-color: var(--dark);}



.bg-primary{background-color:var(--primary); color:var(--white);}
.bg-secondary{background-color:var(--secondary)!important; color:var(--white);}
.bg-light{background-color:var(--light); color:var(--dark);}
.bg-dark{background-color:var(--dark); color:var(--white);}

.p-1 {padding: 0.5rem;}
.p-2 {padding: 0.7rem;}
.p-3 {padding: 0.9rem;}
.p-4 {padding: 1.1rem;}

.m-1 {margin: 0.5rem;}
.m-2 {margin: 0.7rem;}
.m-3 {margin: 0.9rem;}
.m-4 {margin: 1.1rem;}

.mt-1 {margin-top: 0.5rem;}
.mt-2 {margin-top: 0.7rem;}
.mt-3 {margin-top: 0.9rem;}
.mt-4 {margin-top: 1.1rem;}

.my-1 {margin-top: 0.5rem; margin-bottom: 0.5rem;}
.my-2 {margin-top: 0.7rem; margin-bottom: 0.7rem;}
.my-3 {margin-top: 0.9rem; margin-bottom: 0.9rem;}
.my-4 {margin-top: 1.1rem; margin-bottom: 1.1rem;}

.card{
    background-color: var(--white);
    padding: 1rem;
}

.card-primary{
    background-color: var(--primary);
    color: var(--white);
    padding: 1rem;
}

.category{
    display: inline-block;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 2rem;
    letter-spacing: 1px;
}

.category-sport{background-color: var(--secondary);}
.category-health{background-color: var(--dark);}
.category-economy{background-color: var(--primary);}

/* Header */

.header{
background-color: var(--white);
position: sticky;
top: 0;

}

.header__container{
    display: grid;
    grid-template-columns: 90px 3fr 2fr;
}

.header__container nav{
    align-self: center;
}

.header__links, .header__pages{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


.header__links a, .header__pages a{
    display: block;
    padding: 0.6rem;
    margin: 0.3rem;
    font-weight: 700;
}
.header__links a:hover, .header__pages a:hover{
    opacity: 0.7;
}

.header__links{
    justify-self: end;
}

.header__links a{
    color: var(--primary);
}

/* Home */
#home{
    background:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url(../img/bg.jpeg);
    background-position: center;
    background-size: cover;

    color: #fff;
}

#home__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height:55vh;
}

#home__grid__content p{
    margin:1.7rem 0;
}
#home__grid__content h3{
    font-size: 3rem;
}

/* Main-Articles */

#main-articles h3{
    font-size: 3rem;
    margin:4rem 0 1rem 0;
}

#main-articles__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

/* Footer */

.footer{
    margin-top: 4rem;
    padding: 1rem;
    background-color: var(--dark);
    color: var(--white);
}

.footer__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.footer__logo img{
    width: 100px;
}

.footer__grid__items{
    padding: 1rem;
}

.footer h4{
    font-size:2rem;
}

.footer__subscribe form input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer__subscribe form button{
    width: 100%;
    padding: 0.5rem;
}

.footer__links li{
    padding: 0.4rem 0 0.4rem 0;
    border-bottom: 1px dashed #444;
}

.footer__links li a{
    color: var(--white);
}

.footer__links li a:hover{
    color: var(--primary);
}



.footer__social__links{
    display: flex;
    align-items: center;
}

.footer__social__links a{
    display: block;
    padding: 0.6rem;
    margin: 0.3rem;
    font-weight: 700;
}
.footer__social__links a:hover{
    color: var(--primary);
}

.footer__social__links a{
    color: var(--white);
}

.copyright{
    background-color: #444;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
}

/* Article */

#article-page{
    margin: 2rem 0;
}

.article-page__grid{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 2rem;
}

.article-page__grid>*:first-child{
    grid-row: 1/span 3;
}

.card__box{
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.card__box i{
    padding:3px;
}

#join-us h3{
    font-size:2.5rem;
}

#category h3{
    font-size:2.5rem;
}

#category li{
    border-bottom: 1px dashed #333;
    padding: 1rem 0;
}

#category a:hover{
    color: var(--primary);
}

/* Responsive */

@media(max-width:680px){

    .header__links{
        display: none;
    }

    .header__container{
        grid-template-columns: 80px 3fr;
    }

    .header__pages{
        justify-content: flex-end;
    }

    #home__grid {
        grid-template-columns: 1fr;
        align-content: center;
    }

    #main-articles__grid{
        grid-template-columns: repeat(2,1fr);
    }

    .footer__grid{
        grid-template-columns: 1fr;
    }

    .footer__logo{
        display: flex;
        flex-direction: column;
    }

    .footer__logo img{
        width: 80px;
        align-self: center;
    }

    .footer__grid__items{
        border-bottom: 1px dashed black;
    }

    .article-page__grid{
        grid-template-columns:1fr ;
    }

}


